# java specific
*.bak
*.class

#debug specific
*.log

#windows Junk
*.ini
[Tt]humbs.db
*.DS_Store

/.idea
/.settings
/.vscode
/out
/target
.classpath
.project
.settings.p
songs.json
settings.xml
/pic
