/*
 *	Apply google Roboto font to all UI components
 */

.root {
    -fx-font-family: "Roboto";
}

.side-menu {
    -fx-padding: 20.0, 10.0;
    -fx-font-size: 15.0;
    -fx-font-weight: NORMAL;
    -fx-text-fill: #444;
}

.title-label {
    -fx-font-size: 16.0px;
    -fx-padding: 14.0px;
    -fx-text-fill: rgba(0.0, 0.0, 0.0, 0.87);
}

.radio-button-title-label {
    -fx-font-size: 16.0px;
    -fx-padding: 14.0 0.0 -20.0 0.0;
    -fx-text-fill: rgba(0.0, 0.0, 0.0, 0.87);
}

/*******************************************************************************
 *                                                                             *
 * JFX Drawer                                                                  *
 *                                                                             *
 ******************************************************************************/

.jfx-drawer-overlay-pane {
    -fx-background-color: rgba(0.0, 0.0, 0.0, 0.1)
}

.jfx-drawer-side-pane {
    -fx-background-color: WHITE;
}

/*******************************************************************************
 *                                                                             *
 * JFX Dialog Layout                                                           *
 *                                                                             *
 ******************************************************************************/

.jfx-dialog-overlay-pane {
    -fx-background-color: rgba(0.0, 0.0, 0.0, 0.1);
}

.dialog-trigger {
    -fx-background-color: WHITE;
    -jfx-button-type: RAISED;
    -fx-font-size: 14.0px;
}

.jfx-layout-heading .label {
    -fx-font-size: 20.0px;
}

.dialog-accept {
    -fx-text-fill: #03A9F4;
    -fx-font-weight: BOLD;
    -fx-padding: 0.7em 0.8em;
}

/*******************************************************************************
 *                                                                             *
 * JFX Pop Up                                                                  *
 *                                                                             *
 ******************************************************************************/

.jfx-popup-overlay-pane {
    -fx-background-color: transparent;
}

.jfx-popup-container {
    -fx-background-color: WHITE;
    -fx-pref-width: 151.0px;
}

.popup-list-view {
    -fx-pref-width: 150.0px;
}

.jfx-snackbar-content {
    -fx-background-color: #323232;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}

.jfx-snackbar-action {
    -fx-text-fill: #ff4081;
}

/*******************************************************************************
*                                                                              *
* JFX Hamburger Icon                                                           *
*                                                                              *
*******************************************************************************/

.jfx-hamburger {
    -fx-padding: 10.0;
    -fx-spacing: 4px;
    -fx-cursor: hand;
}

.jfx-hamburger StackPane {
    -fx-pref-width: 30px;
    -fx-pref-height: 4px;
    -fx-background-color: #FFF;
    -fx-background-radius: 5px;
}

/*******************************************************************************
 *                                                                             *
 * JFX Tool Bar                                                                *
 *                                                                             *
 ******************************************************************************/

.jfx-tool-bar {
    -fx-font-size: 20.0;
    -fx-font-weight: BOLD;
    -fx-background-color:  #2962ff;
    -fx-pref-width: 100.0%;
    -fx-pref-height: 64.0px;
}

.jfx-tool-bar HBox {
    -fx-alignment: center;
    -fx-spacing: 25.0;
    -fx-padding: 0.0 10.0;
}

.jfx-tool-bar Label {
    -fx-text-fill: WHITE;
}

.jfx-tool-bar .jfx-options-burger {
    -fx-padding: 22px;
}

.jfx-tool-bar .jfx-options-burger StackPane {
    -fx-pref-width: 4px;
}

.jfx-tool-bar .jfx-rippler {
    -jfx-rippler-fill: WHITE;
}

/*******************************************************************************
 *                                                                             *
 * JFX Radio Button                                                            *
 *                                                                             *
 ******************************************************************************/

.jfx-radio-button {
    -fx-fill:  #2962ff;
}

/*******************************************************************************
 *                                                                             *
 * JFX Slider                                                                  *
 *                                                                             *
 ******************************************************************************/

.svg-slider .thumb {
    -fx-stroke:  #2962ff;
    -fx-fill:  #2962ff;
}

/*******************************************************
*                           						   *
* For the main demo sliders 						   *
*                          							   *
*******************************************************/

.jfx-slider-colored {
    -jfx-default-thumb:  #2962ff;
    -jfx-default-track: #212121;
}

.jfx-slider-style {
    -jfx-indicator-position: right;
}

.jfx-slider-style>.thumb {
    -fx-background-color: #03a9f4;
}

.jfx-slider-style .track {
    -fx-background-color: #ff5252;
    -fx-pref-height: 5px;
    -fx-pref-width: 5px;
}

.jfx-slider-style .animated-thumb {
    -fx-background-color: darkorange;
}

.jfx-slider-style .sliderValue {
    -fx-stroke: WHITE;
    -fx-font-size: 10.0;
}

/******************************************************/

/*******************************************************************************
*                                                                              *
* JFX Rippler                                                                  *
*                                                                              *
*******************************************************************************/

/*.jfx-rippler {
	-fx-rippler-fill: #5264AE;
	-fx-mask-type: RECT;
}*/
.jfx-rippler:hover {
    -fx-cursor: hand;
}

/*******************************************************************************
*                                                                              *
* JFX Check Box                                                                *
*                                                                              *
*******************************************************************************/

.jfx-check-box {
    -fx-font-weight: BOLD;
}

/*******************************************************************************
*                                                                              *
* JFX Progress Bar                                                             *
*                                                                              *
*******************************************************************************/

.jfx-progress-bar {
    -fx-pref-width: 500.0;
}

.jfx-progress-bar>.track {
    -fx-background-color: #E0E0E0;
}

.jfx-progress-bar>.bar {
    -fx-background-color:  #2962ff;
}

/*******************************************************************************
*                                                                              *
* JFX Textfield                                                                *
*                                                                              *
*******************************************************************************/



/*******************************************************************************
*                                                                              *
* JFX List View                                                                *
*                                                                              *
*******************************************************************************/

.jfx-list-cell {
    -fx-background-insets: 0.0;
    -fx-text-fill: BLACK;
}

.jfx-list-cell:odd,
.jfx-list-cell:even {
    -fx-background-color: WHITE;
}

.jfx-list-cell:filled:hover,
.jfx-list-cell:selected .label {
    -fx-text-fill: black;
}

.jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: #5264AE;
}

.jfx-list-cell:odd:selected>.jfx-rippler>StackPane,
.jfx-list-cell:even:selected>.jfx-rippler>StackPane {
    -fx-background-color: rgba(0.0, 0.0, 255.0, 0.2);
}

.jfx-list-view {
    -fx-background-insets: 0.0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 5.0;
    -jfx-vertical-gap: 10.0;
    -jfx-expanded: false;
}

/*******************************************************************************
*                                                                              *
* JFX Decorator                                                                *
*                                                                              *
*******************************************************************************/

.jfx-decorator {
    -fx-decorator-color: derive( #2962ff, -20%);
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}

.jfx-decorator .jfx-decorator-title-container .jfx-decorator-text {
    -fx-fill: WHITE;
    -fx-font-size: 16;
}

.jfx-decorator .jfx-decorator-title-container .jfx-svg-glyph {
    -fx-shape: "M512 682c-128.024-99.309-255.626-199.040-384-298l384-298 384 298c-128.375 98.958-255.974 198.693-384 298zM512 792l314-246 70 54-384 298-384-298 70-54z";
    -jfx-size: 15;
    -fx-background-color: WHITE;
}


/*******************************************************************************
 *                                                                             *
 * Scroll Bar			                                                       *
 *                                                                             *
 ******************************************************************************/

.scroll-bar:vertical>.track-background,
.scroll-bar:horizontal>.track-background {
    -fx-background-color: #F1F1F1;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical>.thumb,
.scroll-bar:horizontal>.thumb {
    -fx-background-color: #BCBCBC;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

.scroll-bar>.increment-button,
.scroll-bar>.decrement-button {
    -fx-padding: 5 2 5 2;
}

.scroll-bar>.increment-button,
.scroll-bar>.decrement-button,
.scroll-bar:hover>.increment-button,
.scroll-bar:hover>.decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar>.increment-button>.increment-arrow,
.scroll-bar>.decrement-button>.decrement-arrow {
    -fx-background-color: rgb(150.0, 150.0, 150.0);
}

.scroll-bar>.increment-button>.increment-arrow {
    -fx-shape: "M298 426h428l-214 214z";
}

.scroll-bar>.decrement-button>.decrement-arrow {
    -fx-shape: "M298 598l214-214 214 214h-428z";
}

/*******************************************************************************
 *                                                                             *
 * Scroll Pane			                                                       *
 *                                                                             *
 ******************************************************************************/

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}



.jfx-tab-pane .tab-header-background {
    -fx-background-color:  #2962ff;
}

.jfx-tab-pane .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: #5264AE;
}

.jfx-tab-pane .headers-region .tab-selected-line {
    -fx-background-color:  #ff4081;;
}

.jfx-slider {
    -jfx-default-thumb: #3f51b5;
}

.jfx-list-view {
    -fx-background-color:TRANSPARENT;
}

.jfx-list-cell {
    -fx-background-color:TRANSPARENT;
}

/* 隐藏水平滚动条 */
.jfx-list-view .scroll-bar:horizontal{
    visibility: hidden;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-opacity: 0;
}